.header {
    width: 100%;
    background-color: var(--color-bg-light);
    border-bottom: 1px solid var(--color-bg-lighter);
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    margin: 0 auto;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.list {}

.list .listItem:first-child {
    display: none
}

.itemText {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: var(--color-primary-dark);
}

.itemText:focus,
.itemText:hover {
    color: var(--color-error);
}

@media (min-width: 375px) {
    .headerWrapper {
        width: 375px;
    }
}

@media (min-width: 768px) {
    .headerWrapper {
        padding: 24px 32px;
        width: 768px;
    }

    .list {
        margin-right: 35%;
        gap: 24px;
        display: flex;
        align-items: center;
    }

    .list .listItem:first-child {
        display: block
    }
}

@media (min-width: 1440px) {
    .headerWrapper {

        padding: 28px 64px;
        width: 1440px;
        margin: 0 auto;
    }

    .list {
        margin-right: 45%;
        gap: 32px;
    }
}