.heroSection {
    padding: 0;
}

.hero {
    position: relative;
    width: 100%;
    height: 696px;
    background-image: url('/hero-img/hero-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 64px;
}

.heroTitle {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--color-bg-light);
    margin-bottom: 16px;
}

.heroText {
    font-size: 24px;
    margin-bottom: 24px;
    color: var(--color-bg-light);
    margin-bottom: 40px;
}

.btnHero {
    background-color: var(--color-error-dark);
    border-radius: 200px;
    width: 173px;
    height: 56px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}