.heroSection {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.hero {
    position: relative;
    width: 100%;
    height: 500px;
    max-width: 100%;
    background-image: url('/hero-img/hero-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 16px;
    margin: 0 auto;
}

.heroTitle {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--color-bg-light);
}

.heroText {
    font-size: 16px;
    margin-bottom: 24px;
    color: var(--color-bg-light);
}

.btnHero {
    background-color: var(--color-error-dark);
    border-radius: 200px;
    width: 140px;
    height: 48px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

@media (min-width: 375px) {
    .heroSection {
        width: 375px;
    }

    .hero {
        height: 550px;
        padding: 0 24px;
    }

    .heroTitle {
        font-size: 32px;
    }

    .heroText {
        font-size: 18px;
    }

    .btnHero {
        width: 150px;
        height: 50px;
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .heroSection {
        width: 768px;
    }

    .hero {
        height: 600px;
        padding: 0 48px;
    }

    .heroTitle {
        font-size: 42px;
    }

    .heroText {
        font-size: 20px;
        margin-bottom: 32px;
    }

    .btnHero {
        width: 160px;
        height: 54px;
        font-size: 16px;
    }
}

/* Desktop 1440px */
@media (min-width: 1440px) {
    .heroSection {
        width: 1440px;

    }

    .hero {
        height: 696px;
        padding: 0 64px;
        max-width: 1440px;
    }

    .heroTitle {
        font-size: 48px;
    }

    .heroText {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .btnHero {
        width: 173px;
        height: 56px;
        font-size: 16px;
    }
}