.content {
    display: flex;
    flex-direction: column;
}

.camperDetailsPageSection {
    padding-top: 48px;
    padding-bottom: 80px;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
}

.totalReviews {
    text-decoration: underline;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    margin-bottom: 8px;
}

.ratingLocation {
    display: flex;
    gap: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.filterIconSvg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    gap: 4px;
    line-height: 1.5;
}

.filterIconSvg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.rightSidePrice {
    display: flex;
    align-items: center;
    gap: 12px;
}

.price {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.description {
    margin-top: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);
}