.galleryWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 28px;
}

.img {

    border-radius: 10px;
    object-fit: cover;
}

.thumbs {
    display: flex;
    gap: 48px;

}

.thumb {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.2s, transform 0.2s;
    border-radius: 10px;
    overflow: hidden;
    /* це ключ */
}

.thumb:hover {
    border-color: #0070f3;
    transform: scale(1.01);
}

.thumb.active {
    border-color: #ff6600;
}